@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: $bodyFont;
    font-size: 16px;
    background-color: $primary;
    color: $text;
    position: relative;

}

h1, h2, h3, h4, h5, h6 {
    font-family: $headingsFont;
    font-size: 5.5rem;
    font-weight: 700;
    text-align: center;
    @media (max-width: 426px) {
       font-size: 3rem;
    }
}


li{
    list-style: none;
    text-transform: lowercase;
}

a{
    text-decoration: none;
    color: $text;
    &:hover{
        color: $secondary;

    }
}



.header-icon{
    font-size: 1.5rem;
    color: $text;
    transition: $transition;
    @media (max-width: 426px) {
       font-size: 1.2rem;
    }
    @media (min-width: 426px) and (max-width: 768px) {
       font-size: 1.5rem;
    }
    &:hover{
        transform: rotate(15deg) scale(1.5);
        color: $primary;
        text-shadow: 2px 2px 10px $secondary;
    }
}

.footer-icon{
    font-size: 1.5rem;
    color: $text;
    transition: $transition;
    @media (max-width: 426px) {
       font-size: 1.2rem;
    }
    @media (min-width: 426px) and (max-width: 768px) {
       font-size: 1.5rem;
    }
    &:hover{
        transform: rotate(15deg) scale(1.5);
        color: $primary;
        text-shadow: $textShadow;
    }
}



.first-letter{
    color: $secondary;
}

.small-header{
    font-size: 3rem;
    @media (max-width: 426px) {
       font-size: 1rem;
    }
    @media (min-width: 426px) and (max-width: 768px) {
       font-size: 1.5rem;
    }
}






//alert 


.alert{
    padding: 20px 40px;
    width: 420px;
    border-radius: 5px;
    border: 2px solid $secondary;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    @media (max-width: 426px) {
       padding: 5px 10px;
       width: 220px;
    }
    .icon-check {
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        color: $secondary;
        font-size: 30px;
        @media (max-width: 426px) {
            font-size: 20px;
            left: 20px;
        }
    }
    .message{
        padding: 0 20px;
        font-size: 20px;
        color: $text;
        margin-left: 40px;
        @media (max-width: 426px) {
            font-size: 12px;
            padding: 5px 0;
        }
    }

}





.title-hr{
    margin: 15px auto;
    border: none;
    width: 15%;
    height: 2px;
    background: $text;
}


.section{
    padding: 100px 200px;
    min-height: 100vh;
    width: 100%;
    @media (max-width: 426px) {
        padding: 10px 10px;
    }
    @media (min-width: 426px) and (max-width: 768px) {
       padding: 20px 40px;
    }
}

.section-title{
   font-size: 4rem;
   @media (max-width: 426px) {
       font-size: 2rem;
       margin-top: 60px;
    }
    @media (min-width: 426px) and (max-width: 768px) {
       font-size: 3rem;
    }
}


// buttons

.btn-con{
    display: flex;
    align-self: center;
    margin-top: 20px;
    .main-btn{
        border-radius: 30px;
        color: $text;
        font-weight: 500;
        position: relative;
        border: 1px solid $secondary;
        display: flex;
        align-self: flex-start;
        display: flex;
        align-items: center;
        overflow: hidden;
        transition: $transition;
        @media (max-width: 426px) {
            width: 100px;
        }
        .btn-text{
            padding: 0 2rem;
            @media (max-width: 426px) {
                padding: 0 5px;
                font-size: 10px;
                margin-right: 4px;
                margin-left: 3px;
            }
        }
        .btn-icon{
            background-color: $secondary;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: 1rem;
            @media (max-width: 426px) {
                font-size: 10px;
                padding: 5px 5px;
            }
    
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            transition: $transition;
            z-index: -1;
        }
        &:hover{
            &::before{
                width: 100%;
                height: 100%;
                background-color: $secondary;
                transform: translateX(0);

            }
        }
    }
}


  .submit-btn{
    border-radius: 30px;
    color: $text;
    background-color: $secondary;
    font-weight: 500;
    position: relative;
    border: 1px solid $secondary;
    cursor: pointer;
    width: 40%;
    padding: 15px 0;
    font-size: 1.2rem;
    overflow: hidden;
    transition: $transition;
    border: none;
    @media (max-width: 426px) {
       font-size: 1rem;
    }
    &:hover{
       border: none;
       box-shadow: 2px 2px 20px $secondary;
    }
}


.svg-bottom{
    position: absolute;
    bottom: 0;
    z-index: -1;

}
