@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;400;500;600;700&display=swap');
$primary: #0a0a0b;
$secondary: #00B4D8;
$tertiary: #190095;
$text: #f6f6f6;
$bodyFont: 'Lato', sans-serif;
$headingsFont: 'Hahmlet', serif;
$transition: .4s all ease-in-out;
$textShadow: 2px 2px 10px $secondary;
