@import "globals";
@import "vars";

// navbar

.nav-scroll {
    transition: $transition;
    background-color: $secondary;
    padding: 30px 0 0 0;
    @media (max-width: 426px) {
        display: none;
    }
    @media (min-width: 426px) and (max-width: 768px) {
        display: none;
    }
    ul {
        @media (min-width: 426px) and (max-width: 768px) {
            width: 80%;
        }
        li {
            &:first-child {
                margin-left: 30px;
            }
            a {
                transition: $transition;
                @media (min-width: 426px) and (max-width: 768px) {
                    font-size: 0.8rem;
                }
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

nav {
    padding: 50px 0;
    position: fixed;
    width: 100%;
    z-index: 10000;
    transition: $transition;
    @media (max-width: 426px) {
        padding: 20px 0;
       
    }
    @media (min-width: 426px) and (max-width: 768px) {
        padding: 30px 0;
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
        transition: $transition;
        @media (max-width: 426px) {
            display: none;
        }
        @media (min-width: 426px) and (max-width: 768px) {
            display: none;
        }
        li {
            padding: 8px 15px;
            margin-left: 50px;
            transition: $transition;
            &:first-child {
                margin-left: 0;
            }
            @media (max-width: 426px) {
                margin-left: 20px;
                padding: 0;
            }
            @media (min-width: 426px) and (max-width: 768px) {
                margin-left: 10px;
            }
            &:hover {
                transform: translate(20px);
            }
            a {
                font-size: 1.2rem;
                border-bottom: 2px solid $text;
                padding: 2px;
                @media (max-width: 426px) {
                    font-size: 0.8rem;
                }
                @media (min-width: 426px) and (max-width: 768px) {
                    font-size: 0.9rem;
                }
                &:hover {
                    border-bottom: 2px solid $secondary;
                    text-shadow: $textShadow;
                }
            }
        }
        .active {
            background: $text;
            transition: $transition;
            border-radius: 5px;
            a {
                color: $primary;
                border: none;
                &:hover {
                    text-shadow: none;
                    cursor: pointer;
                    border: none;
                }
            }
        }
    }
}

// header
header {
    padding: 200px 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 426px) {
        padding: 0 20px;
        flex-direction: column;

    }
    @media (min-width: 426px) and (max-width: 768px) {
        padding: 120px 40px;
        flex-direction: column;
    }
    .start {
        flex: 0 0 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 426px) {
            flex: 0 0 100%;
            margin-top: -80px;
        }
        @media (min-width: 426px) and (max-width: 768px) {
            flex: 0 0 100%;
            margin-top: -80px;
        }
        p {
            text-align: center;
            margin-top: 20px;
            font-size: 1.2rem;
            border-bottom: 2px solid $text;
            padding: 8px 0;
            @media (max-width: 426px) {
                font-size: 0.8rem;
                margin-top: 0;
            }
            @media (min-width: 426px) and (max-width: 768px) {
                font-size: 1rem;
                margin-top: 0;
            }
        }
    }

    .img-header {
        flex: 0 0 45%;
        @media (max-width: 426px) {
            flex: 0 0 100%;
            margin: 50px 0;
        }
        @media (min-width: 426px) and (max-width: 768px) {
            flex: 0 0 100%;
            margin: 70px 0;
        }
        img {
            width: 500px;
            @media (max-width: 426px) {
                width: 200px;
            }
            @media (min-width: 426px) and (max-width: 768px) {
                width: 350px;
            }
        }
    }
    .end {
        flex: 0 0 2%;
        @media (max-width: 426px) {
            margin-top: 20px;
        }
        @media (min-width: 426px) and (max-width: 768px) {
            margin-top: 40px;
        }
        ul {
            li {
                margin-bottom: 20px;
                @media (max-width: 426px) {
                    display: inline;
                    margin-left: 40px;
                    &:first-of-type {
                        margin-left: 0;
                    }
                }
                @media (min-width: 426px) and (max-width: 768px) {
                    display: inline;
                    margin-left: 50px;
                    &:first-of-type {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

// about
.about {
    .about-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 5rem;
        padding-bottom: 5rem;

        @media (max-width: 426px) {
            grid-template-columns: 1fr;
        }
        @media (min-width: 426px) and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
        .right-about {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            grid-gap: 2rem;
            @media (max-width: 426px) {
                grid-template-columns: 1fr;
                margin-top: 20px;
            }
            @media (min-width: 426px) and (max-width: 768px) {
                grid-template-columns: 1fr;
                margin-top: 20px;
            }
            .about-item {
                border: 1px solid $text;
                border-radius: 5px;
                transition: $transition;
                width: 100%;
                @media (max-width: 426px) {
                    width: 70%;
                }
                @media (min-width: 426px) and (max-width: 768px) {
                    width: 80%;
                }
                &:hover {
                    cursor: default;
                    transform: translateY(-5px);
                    border: 1px solid rgb(72, 71, 71);
                }
                .abt-text {
                    padding: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    .large-text {
                        font-size: 4rem;
                        font-weight: 700;
                        color: $secondary;
                        @media (max-width: 426px) {
                            font-size: 2rem;
                        }
                        @media (min-width: 426px) and (max-width: 768px) {
                            font-size: 3rem;
                        }
                    }
                    .small-text {
                        padding: 3rem;
                        position: relative;
                        text-transform: uppercase;
                        font-size: 1.2rem;
                        letter-spacing: 2px;
                        @media (max-width: 426px) {
                            font-size: 1rem;
                            padding: 1rem;
                        }
                        @media (min-width: 426px) and (max-width: 768px) {
                            font-size: 1.5rem;
                            padding: 1rem;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            left: 9px;
                            top: 5px;
                            width: 2rem;
                            height: 2px;
                            background: $text;
                        }
                    }
                }
            }
        }
        .left-about {
            padding-right: 5rem;
            @media (max-width: 426px) {
                padding-right: 0;
            }
            @media (min-width: 426px) and (max-width: 768px) {
                padding-right: 0;
            }
            p {
                line-height: 2rem;
                padding: 1rem;
                text-align: center;
                opacity: 0.8;
                @media (max-width: 426px) {
                    font-size: 0.8rem;
                }
                @media (min-width: 426px) and (max-width: 768px) {
                    font-size: 1rem;
                }
            }
            h4 {
                font-size: 2rem;
                color: $secondary;
                @media (max-width: 426px) {
                    font-size: 1.2rem;
                }
                @media (min-width: 426px) and (max-width: 768px) {
                    font-size: 1.5rem;
                }
            }
            h5 {
                font-size: 2rem;
                color: $secondary;
                @media (max-width: 426px) {
                    font-size: 1.2rem;
                }
                @media (min-width: 426px) and (max-width: 768px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .skills-tittle {
        padding-bottom: 3rem;
        font-size: 3rem;
        @media (max-width: 426px) {
            font-size: 2rem;
        }
        @media (min-width: 426px) and (max-width: 768px) {
            font-size: 2.2rem;
        }
    }

    .skills {
        width: 100%;
        .item {
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            .skill-icon {
                font-size: 5.5rem;
                color: $secondary;
                cursor: pointer;
                transition: $transition;
                &:hover {
                    transform: scale(1.5);
                    color: $text;
                }
            }
        }
    }
}

// projects

.projects {
    .project-hr {
        margin-bottom: 150px;
    }
    .card-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        .card {
            flex: 0 0 32%;
            position: relative;
            width: 350px;
            height: 300px;
            margin-bottom: 100px;
            transition: $transition;
            border: 2px solid $text;
            border-radius: 20px;
            cursor: pointer;
            row-gap: 50px;
            @media (max-width: 426px) {
                flex: 0 0 90%;
            }
            @media (min-width: 426px) and (max-width: 768px) {
                flex: 0 0 100%;
            }
            &:last-child {
                @media (max-width: 426px) {
                    margin-bottom: 200px;
                }
            }
            &:hover {
                height: 550px;
                &:nth-child(5) {
                    height: 620px;
                    @media (max-width: 426px) {
                        height: 760px;
                    }
                }
                &:nth-child(6) {
                    height: 550px;
                    @media (max-width: 426px) {
                        height: 680px;
                    }
                }
                @media (max-width: 426px) {
                    height: 620px;
                }
            }
            .img-box {
                position: absolute;
                left: 50%;
                top: -50px;
                transform: translateX(-50%);
                width: 90%;
                height: 200px;
                border-radius: 20px;
                box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
                overflow: hidden;
                transition: $transition;
                @media (max-width: 426px) {
                    width: 90%;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
            .content {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                overflow: hidden;
                .details {
                    padding: 40px;
                    text-align: center;
                    width: 100%;
                    transition: $transition;
                    color: $text;
                    transform: translateY(150px);
                    // &:hover{
                    //     transform: translateY(0);
                    // }
                    h5 {
                        font-size: 2rem;
                        line-height: 1.2em;
                        @media (max-width: 426px) {
                            font-size: 1.5rem;
                        }
                    }
                    span {
                        font-size: 0.75em;
                        font-weight: 500;
                        opacity: 0.8;
                        display: block;
                        padding: 20px;
                        @media (max-width: 426px) {
                            font-size: 0.5em;
                        }
                        &:hover {
                            opacity: 1;
                        }
                    }
                    .data {
                        opacity: 0.8;
                        line-height: 1.5;
                        @media (max-width: 426px) {
                            font-size: 1rem;
                            line-height: 2;
                        }
                        strong {
                            text-transform: uppercase;
                        }
                    }
                    .project-icons {
                        .project-icon-one {
                            color: $text;
                            font-size: 2rem;
                            margin-top: 20px;
                            margin-right: 20px;
                            transition: $transition;
                            @media (max-width: 426px) {
                                font-size: 1.7rem;
                            }
                            &:hover {
                                color: $secondary;
                                transform: rotate(180deg) scale(1.5);
                            }
                        }
                        .project-icon-two {
                            color: $text;
                            font-size: 2rem;
                            margin-top: 20px;
                            margin-left: 20px;
                            transition: $transition;
                            @media (max-width: 426px) {
                                font-size: 1.7rem;
                            }
                            &:hover {
                                color: $secondary;
                                transform: rotate(180deg) scale(1.5);
                            }
                        }
                        .gaming-shop {
                            color: $text;
                            font-size: 2.5rem;
                            margin: 20px auto 0 auto;
                            transition: $transition;
                            &:hover {
                                color: $secondary;
                                transform: rotate(180deg) scale(1.5);
                            }
                        }
                    }
                }
            }
        }
    }
}

// contact
.contact {
    .contact-title {
        margin-top: -100px;
    }
    .contact-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 5rem;
        padding-bottom: 5rem;
        @media (max-width: 426px) {
            grid-template-columns: 1fr;
            padding: 0;
        }
        @media (min-width: 426px) and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
        .right-contact {
            padding: 60px 100px;
            @media (max-width: 426px) {
                padding: 20px 40px;
            }
            @media (min-width: 426px) and (max-width: 768px) {
                padding: 30px 50px;
                width: 100px;
            }
            .input-box {
                position: relative;
                width: 350px;
                @media (max-width: 426px) {
                    width: 100%;
                }
                @media (min-width: 426px) and (max-width: 768px) {
                    width: 200px;
                }
                input {
                    width: 80%;
                    padding: 10px;
                    border-bottom: 2px solid $text;
                    background: transparent;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    // border-radius: 5px;
                    outline: none;
                    margin-bottom: 35px;
                    color: $text;
                    font-size: 1em;
                    transition: $transition;
                    @media (min-width: 426px) and (max-width: 768px) {
                        width: 100%;
                    }
                    &:valid {
                        // border: 1px solid $secondary;
                        ~ {
                            span {
                                transform: translateX(10px) translateY(-30px);
                                padding: 5px 10px;
                                background: $secondary;
                                color: $primary;
                                font-size: 0.8rem;
                                letter-spacing: 0.2em;
                                border-radius: 5px;
                            }
                        }
                    }
                    &:focus {
                        // border: 1px solid $secondary;
                        ~ {
                            span {
                                transform: translateX(10px) translateY(-30px);
                                padding: 5px 10px;
                                background: $secondary;
                                color: $primary;
                                font-size: 0.8rem;
                                letter-spacing: 0.2em;
                                border-radius: 5px;
                            }
                        }
                    }
                }
                textarea {
                    width: 120%;
                    padding: 10px;
                    border: 2px solid $text;
                    border-bottom: 2px solid $text;
                    background: transparent;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    outline: none;
                    margin-bottom: 20px;
                    color: $text;
                    font-size: 1em;
                    transition: $transition;
                    @media (max-width: 426px) {
                        width: 100%;
                    }
                    &:valid {
                        // border: 1px solid $secondary;
                        ~ {
                            .textarea-span {
                                transform: translateX(10px) translateY(-30px);
                                padding: 5px 10px;
                                background: $secondary;
                                color: $primary;
                                font-size: 0.8rem;
                                letter-spacing: 0.2em;
                                border-radius: 5px;
                            }
                        }
                    }
                    &:focus {
                        // border: 1px solid $secondary;
                        ~ {
                            .textarea-span {
                                transform: translateX(10px) translateY(-30px);
                                padding: 5px 10px;
                                background: $secondary;
                                color: $primary;
                                font-size: 0.8rem;
                                letter-spacing: 0.2em;
                                border-radius: 5px;
                            }
                        }
                    }
                }
                span {
                    position: absolute;
                    left: 0;
                    padding: 10px;
                    pointer-events: none;
                    font-size: 1em;
                    opacity: 0.5;
                    text-transform: lowercase;
                    transition: $transition;
                }
                .textarea-span {
                    position: absolute;
                    top: 0;
                }
            }
        }
        .left-contact {
            padding-right: 3rem;
            @media (max-width: 426px) {
                padding-right: 0;
                margin-bottom: 20px;
            }
            @media (min-width: 426px) and (max-width: 768px) {
                padding-right: 0;
            }
            img {
                width: 90%;
                @media (max-width: 426px) {
                    padding-top: 100px;
                }
                @media (min-width: 426px) and (max-width: 768px) {
                    padding-top: 100px;
                    width: 70%;
                }
            }
        }
    }
}

// footer
footer {
    div {
        @media (max-width: 426px) {
            margin-top: 150px;
        }
        @media (min-width: 426px) and (max-width: 768px) {
            margin-top: 150px;
        }
        ul {
            display: flex;
            justify-content: center;
            li {
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
                i {
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
    p {
        text-align: center;
        padding: 30px 0;
        font-size: 1.4rem;
        transition: $transition;
        @media (max-width: 426px) {
            font-size: 1rem;
            padding: 20px 0 10px 0;
        }
        @media (min-width: 426px) and (max-width: 768px) {
            font-size: 1.2rem;
            padding: 20px 0 10px 0;
        }
        &:hover {
            color: $primary;
        }
    }
}
